@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[2px] 
  font-bold dark:text-white;
}
.h2 {
  @apply text-4xl font-bold dark:text-white;
}
.h3 {
  @apply text-3xl font-bold dark:text-white;
}
.h4 {
  @apply text-[22px] font-semibold;
}
.subtitle {
  @apply text-gray-700 text-lg mb-8 font-light dark:text-white;
}
.text {
  @apply dark:text-white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-main rounded-md;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

/* ---------------------------Swiper----------------------------*/
.swiper-bullet__active {
  @apply !bg-main !opacity-100 !w-[30px];
}
.swiper-bullet-custom {
  @apply w-[15px] h-[6px] rounded-full bg-gray-200 cursor-pointer transition-all;
}
/*------------------------------- antd---------------------------- */
/* tabs */
.ant-tabs-nav-wrap {
  @apply !border !border-gray-200 p-[5px] rounded-full;
}
.ant-tabs-nav-list {
  @apply !gap-x-[5px] !w-full;
}
.ant-tabs-tab {
  @apply !px-6 !py-2 !m-0 !bg-transparent !rounded-full !flex-1 flex items-center 
  justify-center !text-black hover:!text-black dark:!text-white;
}
.ant-tabs-tab-active {
  @apply !bg-main !transition-all;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply !text-white;
}
.ant-tabs-ink-bar {
  @apply !hidden;
}

/* input */
.ant-input-group-addon {
  @apply !rounded-tr-[20px] !rounded-br-[20px] !text-main bg-white dark:bg-transparent;
}
.ant-input {
  @apply p-4 rounded-[20px] border focus:border-main hover:border-main
   focus:!shadow-main bg-white dark:bg-transparent dark:text-white dark:placeholder:text-gray-400;
}

/*
  main color: FF6969
  bg light color: FDF0F0
  bg dark color: 0C356A
*/
